@import url(local/local.min.css);
@media only screen and (min-width: 980px) {
  .menu_button,
  .close_button {
    display: none;
  }
  .header h4 {
    display: none;
  }
  .sidebar {
    position: sticky;
    top: 0;
  }
  nav#navbar a {
    width: 300px;
    margin: 2rem 0rem;
    display: block;
  }
}

@media only screen and (max-width: 980px) {
  .header {
    padding: 0 1rem;
    position: relative;
    width: 100%;
  }
  .header h4,
  .header h4 .menu_button {
    color: #121212;
  }
  nav#navbar {
    position: absolute;
    background-color: #f1f1f1;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    top: 0;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    left: 0;
    width: 0;
    overflow: hidden;
  }

  nav#navbar a {
    padding: 0.3rem 0rem;
    display: block;
    margin: 1.5rem auto;
  }

  .close {
    padding: 0rem 1.5rem;
  }
  .close_button {
    padding: 1rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
  .menu_button,
  .close_button {
    background-color: transparent;
    color: #121212;
    margin: 0;
    padding: 1rem;
    border: none;
  }
  .menu_button:hover,
  .close_button:hover {
    background-color: transparent;
    color: #333;
  }
}

.welcome {
  margin-top: 2rem;
  height: 100vh;
}
.welcome section h1 {
  color: var(--primary-color);
}
.welcome section img {
  width: 75px;
  max-width: 100%;
  max-height: 100%;
}

.welcome section .icons a b i {
  margin: 0rem 1rem;
}
.demobox {
  padding: 1rem;
  border-radius: 1rem;
  margin: 1.5rem 0;
  background-color: #f1f1f1;
}
.items {
  background-color: #f1f1f1;
  padding: 1rem;
}
.item-1 {
  background-color: #ddd;
  padding: 1rem;
  margin: 1rem auto;
}
.item-2 {
  background-color: #ccc;
  padding: 1rem;
  margin: 1rem auto;
}
a i.icons {
  font-weight: bold;
}
.demo-container {
  background-color: #ddd;
}
.welcome section .icons {
  margin: 1rem 0;
}
