@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
:root {
  --primary-color: #7938f1;
  --accent-color: #8b51f7;
  --background-color: #f1f1f1;
  --heading-color: #121212;
  --body-text-color: #333333;
  --container-color: #dedede;
  --font-family: "Public Sans", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 1rem;
}
body {
  display: block;
  line-height: calc(1.66 + 1vw);
  background-color: var(--background-color);
  color: var(--body-text-color);
  font-family: var(--font-family);
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* Accissebility */
b,
strong {
  font-weight: bolder;
  color: var(--heading-color);
}
i {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
small {
  font-size: 75%;
}
sup {
  top: -0.5rem;
}
sub {
  bottom: -0.25rem;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
mark {
  background-color: #f3d360;
  padding: 0rem 0.4rem;
}
u {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: inherit;
  cursor: pointer;
}
a:hover {
  color: var(--accent-color);
  text-decoration: underline;
  transition: 100ms linear;
}

code {
  font-family: monospace;
  border-radius: 3px;
  font-size: inherit;
  color: #ec4949;
}

kbd {
  text-align: center;
  color: var(--body-text-color);
  font-size: 80%;
  border-color: var(--container-color);
  border-style: solid;
  cursor: auto;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  /* text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2; */
  border-width: 1px;
  background: -webkit-linear-gradient(
    top,
    var(--background-color) 0%,
    var(--background-color) 80%,
    var(--container-color) 100%
  );
  /* font-family: monospace; */
  /* display: inline-block; */
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  /* box-shadow: 0 0 1px #888,0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25), -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1); */
}

samp {
  font-family: monospace;
  font-size: inherit;
  color: var(--body-text-color);
  padding: 0.3rem 0.5rem;
}

pre {
  line-height: 1.66;
  color: #555555;
}
hr {
  border: 1px solid var(--body-text-color);
  margin: 1.5rem 0rem;
  background-color: var(--body-text-color);
}
.text-color-primary {
  color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #121212;
}
h1 {
  font-size: calc(2.25rem + 2.25vw);
  line-height: calc(2.5rem + 2.25vw);
}
h2 {
  font-size: calc(1.875rem + 1.875vw);
}
h3 {
  font-size: calc(1.5rem + 1.5vw);
}
h4 {
  font-size: calc(1.25rem + 1.25vw);
}
h5 {
  font-size: calc(1.125rem + 1.125vw);
}
h6 {
  font-size: calc(0.8rem + 0.67vw);
}
p {
  color: var(--body-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0rem;
  color: var(--heading-color);
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin: 1.5rem 0px;
}
p,
ol,
ul,
dl,
table {
  margin: 0px 0px 1.5rem;
  line-height: 1.66;
  color: var(--body-text-color);
}

li ul,
li ol,
dl dd {
  margin: 0 2rem;
}

dl dt {
  font-weight: bold;
}

/* tables */
table {
  margin: 0 auto;
  width: 100%;
  border: 2px solid var(--body-text-color);
  border-collapse: collapse;
}

thead tr th,
tfoot tr th {
  text-align: center;
  color: var(--heading-color);
  border: 2px solid var(--body-text-color);
  padding: 1rem;
}

tbody tr td {
  padding: 1rem;
  text-align: center;
  border: 2px solid var(--body-text-color);
}

/*container  */
.container {
  padding: 1rem;
  width: 100%;
}
.container-720 {
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}
.container-980 {
  max-width: 980px;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}
.container-1280 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}

/* FORM */

form {
  font-family: inherit;
  margin: 0 auto;
}

label {
  font-family: inherit;
  font-weight: bold;
  color: var(--heading-color);
  display: block;
}
select option {
  margin: 40px;
  background: var(--container-color);
  color: var(--body-text-color);
}
label:not(:first-child),
input:not(:first-child),
select,
textarea {
  margin: 1rem 0px;
}
select,
textarea,
[type="text"],
[type="password"],
[type="url"],
[type="email"],
[type="tel"],
[type="search"],
[type="number"],
[type="select"] {
  padding: 0.8rem 1rem;
  font-size: inherit;
  display: block;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  color: var(--body-text-color);
  width: 100%;
  border: 1px solid var(--body-text-color);
}
input:not([type="button"], [type="submit"], [type="reset"]):focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  transition: 100ms ease-in-out;
}
/* Buttons */

a.button,
a.button-line,
a.button-round,
a.button-round-line,
[type="button"],
[type="submit"],
[type="reset"],
button {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  font-size: 80%;
  text-transform: none;
  cursor: pointer;
  border: 1.5px solid var(--primary-color);
  text-decoration: none;
  font-family: inherit;
  outline: none;
  display: inline;
  font-weight: 600;
  padding: 0.8rem 2.4rem;
}

a.button,
a.button-line,
a.button-round,
a.button-round-line {
  display: inline;
}
a.button,
a.button-round,
[type="button"],
[type="submit"],
[type="reset"],
button {
  background-color: var(--primary-color);
  color: var(--background-color);
}
a.button-line,
.button-line {
  background-color: transparent;
  color: var(--primary-color);
}
a.button-round,
.button-round {
  border-radius: 1000vh;
}
a.button-round-line,
.button-round-line {
  border-radius: 1000vh;
  background: transparent;
  color: var(--primary-color);
}
button:hover,
a.button:hover,
a.button-line:hover,
a.button-round:hover,
a.button-round-line:hover,
[type="button"]:hover,
[type="submit"]:hover,
[type="reset"]:hover {
  background-color: var(--accent-color);
  border: 1.5px solid var(--accent-color);
  transition: 100ms ease-in-out;
  color: var(--container-color);
}

fieldset {
  border: 2px solid var(--body-text-color);
  padding: 2rem;
}
legend {
  padding: 1rem;
  font-family: inherit;
  color: var(--heading-color);
  font-weight: bold;
}
/* Font weights */
.fw-normal {
  font-weight: normal;
}
.fw-b {
  font-weight: bold;
}
.fw-br {
  font-weight: bolder;
}
.fw-lr {
  font-weight: lighter;
}
.fw-1 {
  font-weight: 100;
}
.fw-2 {
  font-weight: 200;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}
.fw-10 {
  font-weight: 1000;
}

/* blockqoute */

blockquote {
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  font-style: italic;
  color: var(--heading-color);
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid var(--primary-color);
  line-height: 1.6;
  position: relative;
  background: var(--background-color);
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: var(--primary-color);
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

blockquote cite {
  display: block;
  color: var(--primary-color);
  font-style: normal;
  font-size: 80%;
  font-weight: bold;
  margin-top: 1em;
}

/* Absolute position */
.ab-c-m {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ab-c-t {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ab-c-b {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ab-l-m {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ab-r-m {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ab-t-l {
  position: absolute;
  left: 0px;
  top: 0px;
}

.ab-t-r {
  position: absolute;
  right: 0px;
  top: 0px;
}

.ab-b-l {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.ab-b-r {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* Flexbox */
.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* ------------------------------------ */
.flex-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
}

.flex-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.flex-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.flex-sa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}

.flex-sb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------ */
.flex-t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.flex-str {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: stretch;
  align-items: stretch;
}

/* ------------------------------------ */
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.flex-row-rev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.flex-col-rev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/* ------------------------------------ */
.flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.flex-c-t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-c-b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-c-str {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: stretch;
  align-items: stretch;
}

.flex-l-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
}

.flex-r-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
}

.flex-sa-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

/* ------------------------------------ */
.flex-col-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-col-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-col-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.flex-col-l-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.flex-col-r-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-end;
  align-items: flex-end;
  justify-content: center;
}

.flex-col-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.flex-col-sa-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
}
.flex-col-str {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: stretch;
  align-items: stretch;
}

.flex-col-sb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

/* ------------------------------------ */
.flex-col-rev-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-col-rev-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-col-rev-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-align-items: center;
  align-items: center;
}

.flex-col-rev-str {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-align-items: stretch;
  align-items: stretch;
}

/* LAYOUT */

.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
[class*="col-"] {
  float: left;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 980px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-2 {
    width: 16.66%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-4 {
    width: 33.33%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-5 {
    width: 41.66%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-7 {
    width: 58.33%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-8 {
    width: 66.66%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-10 {
    width: 83.33%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-11 {
    width: 91.66%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .col-12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}
