@import url("http://fonts.cdnfonts.com/css/minecraftia");
:root {
  /* For Buttons, Inputs and hyperlinks */
  --primary-color: #292b21 !important;
  --accent-color: #3d3f34 !important;

  /* For Text */
  --heading-color: #37392e !important;
  --body-text-color: #373937 !important;

  /* For body and containers */
  --background-color: #809f20 !important;
  --container-color: #809f20 !important;

  /*Font Family */
  --font-family: "Minecraftia", sans-serif !important;
}
a:not(a.button, a.button-round, a.button-line, a.button-round-line) {
  text-decoration: underline !important;
}
