@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  /* For Buttons, Inputs and hyperlinks */
  --primary-color: #faad00 !important;
  --accent-color: #c48a03 !important;

  /* For Text */
  --heading-color: #f1f1f1 !important;
  --body-text-color: #e5e5e5 !important;

  /* For body and containers */
  --background-color: #000 !important;
  --container-color: #121212 !important;

  /*Font Family */
  --font-family: "Source Sans Pro", sans-serif !important;
}
