@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  /* For Buttons, Inputs and hyperlinks */
  --primary-color: #41e241 !important;
  --accent-color: #24dd24 !important;

  /* For Text */
  --heading-color: #35f835 !important;
  --body-text-color: #24dd24 !important;

  /* For body and containers */
  --background-color: #000000 !important;
  --container-color: #121212 !important;

  /* Font family  */
  --font-family: "JetBrains Mono", monospace !important;
}

a:not(a.button, a.button-round, a.button-line, a.button-round-line) {
  text-decoration: underline !important;
}
