@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  /* For Buttons, Inputs and hyperlinks */
  --primary-color: #1ba2f0 !important;
  --accent-color: #1099e9 !important;

  /* For Text */
  --heading-color: #f1f1f1 !important;
  --body-text-color: #e5e5e5 !important;

  /* For body and containers */
  --background-color: #121212 !important;
  --container-color: #333333 !important;

  /*Font Family */
  --font-family: "IBM Plex Serif", serif !important;
}
