
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 1rem;
}
body {
  display: block;
  line-height: 1.5;
  background-color:$background;
  color:$body-text-color;
  font-family: $font-family;
}
b,
strong {
  font-weight: bolder;
  color: $heading-color;
}
i {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
small {
  font-size: 75%;
}
sup {
  top: -0.5rem;
}
sub {
  bottom: -0.25rem;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
mark {
  background-color:$highlight;
  padding: 0rem 0.4rem;
}
u {
  text-decoration: underline;
}

code {
  font-family: monospace;
  border-radius: 3px;
  font-size: inherit;
}

kbd {
  text-align: center;
  width: auto;
  color: $body-text-color;
  font-size: 80%;
  border-color: $container-color;
  border-style: solid;
  cursor: auto;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 5px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  // background: -webkit-linear-gradient(
  //   top,
  //   $background 0%,
  //   $background 80%,
  //   $container-color 100%
  // );
  transition: box-shadow 0.3s ease, transform 0.15s ease;
}

samp {
  font-family: monospace;
  font-size: inherit;
  color: $body-text-color;
  padding: 0.3rem 0.5rem;
}

pre {
  line-height: 1.66;
  color: #555555;
}
hr {
  border: 1px solid $body-text-color;
  margin: 1.5rem 0rem;
  background-color: $body-text-color;
}

a {
  text-decoration: none;
  color:$accent-color;
  font-size: inherit;
  cursor: pointer;
  margin: 1.5rem 0rem;
  &:hover {
    color: $accent-color;
    text-decoration: underline;
    transition: 100ms linear;
  }
}


blockquote {
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  font-style: italic;
  color: $heading-color;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid $primary-color;
  line-height: 1.6;
  position: relative;
  background: $background;
  &::before {
    font-family: Arial;
    content: "\201C";
    color: $primary-color;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  
&::after {
  content: "";
}
cite {
  display: block;
  color: $primary-color;
  font-style: normal;
  font-size: 80%;
  font-weight: bold;
  margin-top: 1em;
}

}

ol,
ul,
dl,
table {
  margin: 0px 0px 1.5rem;
  line-height: 1.5;
  color: $body-text-color;
}
li ul,
li ol,
dl dd {
  margin: 0 2rem;
}

