@media only screen and (min-width: 980px) {
  .menu_button,
  .close_button {
    display: none;
  }
  .header h5 {
    display: none;
  }
  .sidebar {
    position: sticky;
    top: 0;
  }
  nav#navbar a {
    width: auto;
    margin: 2rem 0rem;
    display: block;
  }
}

@media only screen and (max-width: 980px) {
  .header {
    padding: 0 1rem;
    position: relative;
    width: 100%;
  }
  .header h4,
  .header h4 .menu_button {
    color: #121212;
  }
  nav#navbar {
    position: absolute;
    background-color: #ffffff;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.251);
    left: 0;
    width: 0;
    overflow: hidden;
  }

  nav#navbar a {
    padding: 0.3rem 0rem;
    position: relative;
    width: auto;
    display: block;
    margin: 1.5rem auto;
  }

  .close {
    padding: 0rem 1.5rem;
  }
  .close_button {
    padding: 1rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
  .menu_button,
  .close_button {
    background-color: transparent;
    color: #121212;
    margin: 0;
    padding: 1rem;
    border: none !important;
  }
  .menu_button:hover,
  .close_button:hover {
    background-color: transparent;
    color: #333333;
  }
}

.welcome section .logo .localhost_svg {
  margin-top: 1rem;
  width: 70px;
  max-width: 100%;
  max-height: 100%;
}
.welcome section .logo .localhost_svg .tower {
  fill: #121212;
}
.welcome {
  /* margin-top: 2rem; */
  height: 100vh;
}

 .icons a b i {
  color: #2081ff;
  margin-right:2rem 
}
 .icons a b i:hover {
  color: #0d69e0;
}
.demobox {
  padding: 1rem;
  border-radius: 4px;
  margin: 1.5rem 0;
  background-color: #e5e5e5;
}
.items {
  background-color: #e5e5e5;
  padding: 1rem;
  color: #333333;
}
.item-1 {
  /* background-color: #ffffff; */
  border: 1px solid #0d69e0;
  padding: 1rem;
  margin: 1rem auto;
}
.item-2 {
  /* background-color: #ffffff; */
  border: 1px solid #0d69e0;
  padding: 1rem;
  margin: 1rem auto;
}
a i.icons {
  font-weight: bold;
}
.demo-container {
  background-color: #e5e5e5;
  color: #333333;
}
.welcome section .icons {
  margin: 1rem 0;
}
.flexbox_img {
  width: 100%;
  height: auto;
  max-width: 980px;
}

.themebox p {
  margin: 0rem 1rem;
}

.dark_button{
  position:fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  font-size: 50%;
  text-align: center;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width:18px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2081ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2081ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1000vh;
}

.slider.round:before {
  border-radius: 50%;
}
