@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  /* For Buttons, Inputs and hyperlinks */
  --primary-color: #418ce2 !important;
  --accent-color: #2f7ad1 !important;

  /* For Text */
  --heading-color: #121212 !important;
  --body-text-color: #353535 !important;

  /* For body and containers */
  --background-color: #f1f1f1 !important;
  --container-color: #e5e5e5 !important;

  /*Font Family */
  --font-family: "JetBrains Mono", monospace !important;
}
