
/* Flexbox */
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* ------------------------------------ */
.flex-l {
  justify-content: flex-start;
}

.flex-r {
  @include display-flex();
  justify-content: flex-end;
}

.flex-c {
  @include display-flex();
  justify-content: center;
}

.flex-sa {
  @include display-flex();
  justify-content: space-around;
}

.flex-sb {
  @include display-flex();
  justify-content: space-between;
}

/* ------------------------------------ */
.flex-t {
  @include display-flex();
  @include align-item(flex-start)
}

.flex-b {
  @include display-flex();
  @include align-item(flex-end)
}

.flex-m {
  @include display-flex();
  @include align-item(center)
}

.flex-str {
  @include display-flex();
  @include align-item(stretch)
}

/* ------------------------------------ */
.flex-row {
  @include display-flex();
  @include flex-direction(row);
}

.flex-row-rev {
  @include display-flex();
  @include flex-direction(row-reverse);
}

.flex-col {
  @include display-flex();
  @include flex-direction(column);
}

.flex-col-rev {
  @include display-flex();
  @include flex-direction(column-reverse);
}

/* ------------------------------------ */
.flex-c-m {
  @include display-flex();
  @include placeItem(center,center )
}

.flex-c-t {
  @include display-flex();
  @include placeItem(center,flex-start );
}

.flex-c-b {
  @include display-flex();
  @include placeItem(center,flex-end )
}

.flex-c-str {
  @include display-flex();
  @include placeItem(center,stretch)
}

.flex-l-m {
  @include display-flex();
  @include placeItem(flex-start,center)
}

.flex-r-m {
  @include display-flex();
  @include placeItem(flex-end, center);
}

.flex-sa-m {
  @include display-flex();
  @include placeItem(space-around,center);
}

.flex-sb-m {
  @include display-flex();
  @include placeItem(space-between,center)
}

/* ------------------------------------ */
.flex-col-l {
  @include display-flex();
  @include flex-direction(column);
  @include align-item(flex-start)
}

.flex-col-r {
  @include display-flex();
  @include flex-direction(column);
  @include align-item(flex-end)
}

.flex-col-c {
  @include display-flex();
  @include flex-direction(column);
  @include align-item(center)
}

.flex-col-l-m {
  @include display-flex();
  @include flex-direction(column);
  @include placeItem(center,flex-start);
}

.flex-col-r-m {
  @include display-flex();
  @include flex-direction(column);
  @include placeItem(center,flex-end);
}

.flex-col-c-m {
  @include display-flex();
  @include flex-direction(column);
  @include placeItem(center,center);
}
.flex-col-sa-m {
  @include display-flex();
  @include flex-direction(column);
  @include placeItem(space-around,center);
}
.flex-col-str {
  @include display-flex();
  @include flex-direction(column);
  @include align-item(stretch);
}

.flex-col-sb {
  @include display-flex();
  @include flex-direction(column);
  justify-content: space-between;
}

/* ------------------------------------ */
.flex-col-rev-l {
  @include display-flex();
  @include flex-direction(column-reverse);
  @include align-item(flex-start);
}

.flex-col-rev-r {
  @include display-flex();
  @include flex-direction(column-reverse);
  @include align-item(flex-end);
}

.flex-col-rev-c {
  @include display-flex();
  @include flex-direction(column-reverse);
@include align-item(center);
}

.flex-col-rev-str {
  @include display-flex();
  @include flex-direction(column-reverse);
  @include align-item(stretch);
}
