
/* FORM */
form {
  font-family: inherit;
  margin: 0 auto;
}

label {
  font-family: inherit;
  font-weight: bold;
  color: $heading-color;
  display: block;
}
select option {
  margin: 40px;
  background: $container-color;
  color: $body-text-color;
}
label:not(:first-child),
input:not(:first-child),
select,
textarea {
  margin: 1rem 0px;
}
select,
textarea,
[type="text"],
[type="password"],
[type="url"],
[type="email"],
[type="tel"],
[type="search"],
[type="number"],
[type="select"] {
  padding: 0.8rem 1rem;
  font-size: inherit;
  display: block;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  color: $body-text-color;
  width: 100%;
  border: $form-default-border;
}

input:not([type="button"], [type="submit"], [type="reset"]):focus,
select:focus,
textarea:focus {
  outline: none;
  border:$form-focus-border;
  transition: 100ms ease-in-out;
}

fieldset {
  border: 2px solid $body-text-color;
  padding: 2rem;
  legend {
    padding: 1rem;
    font-family: inherit;
    color: $heading-color;
    font-weight: bold;
  }
}
