.text-dark{
  color: $dark;
}
.text-light{
  color: $light;
}
.text-gray{
  color: $gray;
}
.text-info{
  color: $info;
}
.text-success{
  color: $success;
}
.text-error{
  color: $error;
}
.text-warning{
  color: $warning;
}
.text-display{
  background: -webkit-linear-gradient( #ff4ba5,#9d41e7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify;
}
// Margin

.space-hr{
  margin: 0rem 2rem;
}

.space-vr{
  margin:2rem 0rem ;
}


.alert-info {
@include AlertType($info, $bg-info-light);
}

.alert-error {
@include AlertType($error, $bg-error-light);
}

.alert-warning {
@include AlertType($warning, $bg-warning-light);
}

.alert-success {
@include AlertType($success, $bg-success-light);
}
  
 
/* Font weights */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

