.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;

  [class*="col-"] {
    float: left;
  }

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
}


/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: $medium) {


  /* For desktop: */
  .col-1 {
      @include desktopReset();
    width: 8.33%;
   
  }
  .col-2 {
    @include desktopReset();
    width: 16.66%;
  }
  .col-3 {
    @include desktopReset();
    width: 25%;

  }
  .col-4 {
    width: 33.33%;
    @include desktopReset();
  }
  .col-5 {
    width: 41.66%;
    @include desktopReset();
  }
  .col-6 {
    width: 50%;
    @include desktopReset();

  }
  .col-7 {
    width: 58.33%;
    @include desktopReset();
  }
  .col-8 {
    width: 66.66%;
    @include desktopReset();
  }
  .col-9 {
      @include desktopReset();
      width: 75%;
  }
  .col-10 {
    width: 83.33%;
    @include desktopReset();

  }
  .col-11 {
    width: 91.66%;
    @include desktopReset();

  }
  .col-12 {
    width: 100%;
    @include desktopReset();

  }
}
